@import 'miscs';

body {

    header {
        @include flex(normal);
        background-color: aliceblue;

        padding: 5px 10px;

        nav {
            width: 100%;


        }

        .moblie_nav {
            width: 100%;
            position: relative;
            text-align: center !important;
          
            a {
                color: black;
                text-decoration: none;
            }

            .bi-list {
                position: absolute;
                right: 0;
            }

            .inner_nav {
                @include flex(column);
                width: 100%;
                gap: 10px;
                padding-top: 10px;

                &.hide {
                    position: absolute;
                    top: -200px;
                }
            }
        }




    }

    .desktop_nav {
        display: none;
    }
}